.container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .main {
        padding: 75px 30px 75px 30px;
        max-width: 1200px;
        @media (min-width: 720px) {
            padding: 210px 80px 150px 80px;
        }
        @media (min-width: 1280px) {
            flex-grow: 1;
            padding: 0;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .content {
            @media (min-width: 1280px) {
                width: 560px;
            }
            h2 {
                font-size: 20px;
                font-weight: 600;
            }
            h1 {
                font-size: 35px;
                font-weight: 600;
            }
            p {
                margin-top: 20px;
            }
        }
        .image {
            position: relative;
            margin-top: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            @media (min-width: 720px) {
                margin-top: 120px;
            }
            @media (min-width: 1280px) {
                margin: 0;
            }
            .imageWrapper {
                position: relative;
                width: 256px;
                height: 166px;

                @media (min-width: 720px) {
                    width: 500px;
                    height: 400px;
                }
                img {
                    object-fit: contain;
                }
            }
        }
    }
}
